.cardStyle{
    
   display: flex; 
 flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
    margin: 4px;
    float: left;
    
    
}
.card{
    width: 280px;
    height: auto;
    
}
.card-title{
    background-color: yellow;
    width: 50%;
    
    border-radius: 10px  ;
}
.card-text{
    background-color: bisque;
    border-radius: 10px  ;
}